@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  /* background-color: rgb(0, 255, 68); */
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 2vw 6vw;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
}

nav h1 {
  font-size: 1.6vw;
}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.73vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  /* background-color: red; */
  display: none;
  overflow: hidden;
}

.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}

nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}

#nav-bottom {
  width: 88%;
  height: 0vh;
  position: absolute;
  /* background-color: red; */
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8.5vw;
}

#page1 h1 svg {
  height: 6vw;
  border-radius: 50%;
  width: 6vw;

  background-color: #0ba34e;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
  font-size: 1vw;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  margin-top: 0.5vw;
  padding: 9px 18px;
  border: 1px solid hsl(0, 0%, 65%);
  border-radius: 50px;
}

#page1-something h4:nth-last-child(2) {
  /* background-color: red; */
  border: none;
  padding: 2px;
}
#moving-div {
  /* background: red; */
  position: absolute;
  bottom: 0%;
  margin-top: 10vh;
  width: 44%;
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
}
#moving-div .move {
  display: inline-block;
  animation-name: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-div .move img {
  height: 100%;
  margin: 0 1vw;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#blur-left,
#blur-right {
  height: 100%;
  width: 20%;
  /* background: red; */
  position: absolute;
  z-index: 2;
  top: 0;
}
#blur-left {
  background: linear-gradient(to right, #111, transparent);
  left: 0;
}
#blur-right {
  background: linear-gradient(to right, transparent, #111);
  right: 0;
}

#page2 {
  height: 100vh;
  width: 100%;
  background: #111;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  justify-content: space-between;
}
#page2-left {
  height: 100%;
  width: 40%;
  /* background: #333; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 0vw;
}
#page2-left p {
  font-size: 0.8vw;
}
#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.1vw;
}
#page2-right {
  height: 100%;
  width: 50%;
  /* background: #333; */
}
.right-elem {
  position: relative;
  /* background: red; */
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}
.right-elem h2 {
  font-size: 1.6vw;
  font-weight: 400;
}
.right-elem img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  scale: 0;
}
#page3 {
  height: 100vh;
  width: 100%;
  background: #111;
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3-center {
  /* background: red; */
  display: flex;
  align-items: center;
  padding: 1vw;
  flex-direction: column;
}
.page3-center .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.3vw;
  border-radius: 50%;
  background: #fff;
}
.page3-center .icon i {
  font-size: 2.8vw;
  color: black;
}
.page3-center h5 {
  font-size: 0.8vw;
  background: #fff;
  color: #111;
  border-radius: 50px;
  padding: 12px 26px 10px 26px;
  margin-top: 1vw;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(10%);
}
.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}
#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 10000;
}
#page4 {
  height: 100vh;
  width: 100%;
  background: #fff;
  position: relative;
  padding: 0vw 6.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page4-left {
  display: flex;
  justify-content: flex-start;
  /* background: #333; */
  height: 100%;
  width: 40%;
}
#page4-left h1 {
  margin-top: 30%;
  font-size: 3.2vw;
  font-weight: 600;
  color: #111;
}
#page4-right {
  height: 100%;
  width: 50%;
  /* background: #333; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#page4-right .topic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
}
.topic h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.95vw;
  margin-bottom: 5%;
  color: #a3a3a3;
}
.topic p {
  font-size: 1.6vw;
  font-weight: 400;
  color: #111;
}
#topic1 {
  margin-top: 20%;
}
#topic2 {
  margin-top: 10%;
}
#page5 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 0vw 7vw;
  justify-content: space-between;
}
#page5 .item-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* background: #333; */
  margin: 0vw 1vw;
  height: 40%;
  position: relative;
}
.item-box h1 {
  font-size: 4.6vw;
  font-weight: 400;
  color: #111;
}
.item-box h5 {
  margin-top: 1.6vw;
  font-size: 0.9vw;
  font-weight: 400;
  color: #111;
}
.item-box h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1vw;
  font-weight: 400;
  color: #a3a3aa;
  padding-bottom: 4%;
}
#page6 {
  height: 55vh;
  width: 100%;
  background: #fff;
  display: flex;
  padding: 0vw 7vw;
  z-index: 5;
}
#page6-left {
  /* background: #333; */
  height: 100%;
  width: 30%;
}
#page6-right {
  /* background: #c5c5c5; */
  height: 100%;
  width: 70%;
  padding-top: 20vh;
}
#page6-right #upper-part {
  display: flex;
  justify-content: space-between;
}
#upper-part h4 {
  color: #111;
  padding-top: 1.5vh;
  font-weight: 400;
  font-size: 1vw;
}
#upper-part p,
#lower-part p {
  color: #111;
  font-size: 2.4vw;
  font-weight: 400;
}
#lower-part p {
  color: #111;
}
#page7 {
  min-height: 100vh;
  width: 100%;
  background: #fff;
  position: relative;
  padding-bottom: 5vh;
}
.section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 6vw 2vh 6vw;
}
.sec-left {
  height: 100%;
  width: 25%;
  padding-top: 3vh;
  /* background: aqua; */
  border-top: 2px solid #000;
  transition: all ease 0.5s;
}
.sec-left h2 {
  font-size: 2.4vw;
  font-weight: 400;
  color: #000;
}
.sec-left p {
  color: #000;
  margin-top: 10vh;
  font-size: 1.2vw;
}
.sec-right {
  height: 100%;
  width: 70%;
  background: blanchedalmond;
  position: relative;
}
.sec-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-right video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity ease 0.3s;
}
#page8 {
  height: 100vh;
  width: 100%;
  background: #fff;
}
#page9 {
  min-height: 100vh;
  width: 100%;
  background: #111;
  position: relative;
  padding: 12vh 6vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#page9 button {
  background: #0ba34e;
  padding: 1.4vw 4vw;
  font-weight: 600;
  font-size: 0.9vw;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  position: sticky;
  top: 15%;
}
#page9-right {
  width: 70%;
}
#page9-right > p {
  font-size: 2.4vw;
}
#page9-right > p span {
  background: red;
  width: 18vw;
  display: inline-block;
}
#page9-content {
  width: 100%;
  /* background: red; */
  margin-top: 5vh;
  padding: 2vh 0vw;
  /* border-top: 2px solid #fff; */
}
#page9-content h1 {
  font-size: 3.5vw;
  margin-bottom: 1vh;
  margin-top: 2vh;
}
#page9-content .flex {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 6vh;
}
#page9-content .flex h4 {
  border-radius: 50px;
  border: 1px solid #5b5b5b;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.9vw;
  text-transform: uppercase;
}
.page9-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding: 3vh 0vw;
  /* background: red; */
  height: 20vh;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  overflow: hidden;
}
.page9-elem p {
  width: 50%;
  font-size: 0.9vw;
  font-weight: 400;
  position: relative;
  z-index: 8;
}
.page9-elem #p1 {
  margin-right: 1.2vw;
}
.page9-elem h3 {
  font-size: 1.75vw;
  font-weight: 400;
  position: relative;
  z-index: 8;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page9-elem i {
  font-size: 1vw;
  position: relative;
  z-index: 8;
  padding-right: 1vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#page9-last-elem {
  border-bottom: 2px solid #fff;
}
.over {
  height: 100%;
  width: 100%;
  background: #1f1f1f;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  opacity: 0;
}
.page9-elem:hover {
  border-top: 2px solid #fff;
}
.page9-elem:hover h3 {
  padding-left: 2vw;
}
.page9-elem:hover i {
  padding-left: 2vw;
}
.page9-elem:hover .over {
  transform: translateY(0);
  opacity: 1;
}
.product-design h1 {
  margin-top: 2vh;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.uiux,
.product-design {
  border-top: 1px solid #333;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading i {
  font-size: 1.5vw;
  display: none;
}
.h1 .up-arrow {
  display: block;
}
.h1 .down-arrow {
  display: none;
}
.h2 .up-arrow {
  display: none;
}
.h2 .down-arrow {
  display: block;
}
#page10 {
  min-height: 100vh;
  width: 100%;
  background: #111;
}
#page11 {
  min-height: 100vh;
  width: 100%;
  background: #fff;
  position: relative;
  padding: 0vh 6vw;
  padding-bottom: 10vh;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between; */
}
#page11 > h1 {
  font-size: 6vw;
  color: #111;
  margin-left: 30%;
  padding: 12vh 0vw;
  line-height: 6vw;
}
#page11 > hr {
  border-top: 1px solid #dadada;
}
#page11-content {
  /* background: red; */
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12vh 0vw;
}
/* #page11-content #blue-btn {
  background: blue;
  padding: 1.4vw 4vw;
  font-weight: 600;
  font-size: 0.9vw;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  position: sticky;
  top: 15%;
} */
#page11-content #blue-btn {
  background: #4f5bff;
  height: 4vw;
  width: 19vw;
  position: sticky;
  top: 18%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#blue-btn h4 {
  position: absolute;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.85px;
}
#blue-btn h4 i {
  font-size: 1vw;
  font-weight: 100;
  margin-left: 0.5vw;
}
#page11-content .page11-right {
  height: 100%;
  width: 70%;
}
.page11-right p {
  color: #111;
  padding-right: 18vw;
  font-size: 1.7vw;
  font-weight: 400;
  letter-spacing: -0.8px;
}
#page11-bottom {
  height: 45vh;
  width: 100%;
  /* background: red; */
  border-top: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background: aqua; */
}
#btm6-part1 {
  border-right: 1px solid #dadada;
  width: 30%;
  height: 100%;
  /* background: red; */
}
#btm6-part2 {
  border-right: 1px solid #dadada;
  width: 25%;
  height: 100%;
  /* background: red; */
}
#btm6-part3 {
  border-right: 1px solid #dadada;
  width: 15%;
  height: 100%;
  /* background: red; */
}
#btm6-part4 {
  border-right: 1px solid #dadada;
  width: 15%;
  height: 100%;
  /* background: red; */
}
#btm6-part5 {
  width: 15%;
  height: 100%;
  /* background: red; */
}
.btm6-parts {
  padding: 3vh 0.2vw;
}
.btm6-parts h5 {
  color: #1d1d1d;
  font-weight: 400;
  font-size: 0.95vw;
  margin-bottom: 5vh;
}
.btm6-parts h4 {
  background: #111;
  width: 74%;
  padding: 7px 7px;
  border-radius: 60px;
  font-size: 0.9vw;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin-bottom: 0.2vh;
}
.btm6-parts h4 span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1vw;
  height: 1vw;
  background: #333;
  padding: 0.9vw;
  border-radius: 50%;
  margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2) {
  transform: translateX(0);
}
#btm6-part2 h4:nth-child(3) {
  transform: translateX(20%);
}
#btm6-part2 h4:nth-child(4) {
  transform: translateX(40%);
}
#btm6-part2 h4:nth-child(5) {
  transform: translateX(60%);
}
#btm6-part2 h4:nth-child(6) {
  transform: translateX(80%);
}
#btm6-part2 h4:nth-child(7) {
  transform: translateX(100%);
}
#btm6-part3 h4:nth-child(2) {
  transform: translateX(0);
}
#btm6-part3 h4:nth-child(3) {
  transform: translateX(30%);
}
#btm6-part4 h4:nth-child(2) {
  transform: translateX(0);
}
#btm6-part4 h4:nth-child(3) {
  transform: translateX(25%);
}
#btm6-part4 h4:nth-child(4) {
  transform: translateX(50%);
}
#page12 {
  min-height: 100vh;
  width: 100%;
}
